.mapBlock {
	overflow: hidden;
	position: absolute;
	background: url(/images/backgroundmap.jpg)
}

.logo {
	width: 122px;
	height: 51px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: url(/images/logo.png);
	z-index: 2;
}

.layers {
	width: 32px;
	height: 32px;
	position: absolute;
	right: 10px;
	top: 10px;
	background: url(/images/layers_a.png);
	z-index: 2;
	cursor: pointer;
}

.layers:hover{
	background: url(/images/layers.png);
}

.FrMainMap{
	z-index: 1
}

.scrolledmap {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}

